@tailwind base;
@tailwind components;
@tailwind utilities;

.nepal {
  color: red;
}

.ease {
  color: blue;
  ;
}


.noscroll {
  overflow: hidden;
}

.popularCities::-webkit-scrollbar {
  display: none;
}